<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Certificados" type="Carvajal.FEPE.PreSC.Configuration.CertificateSectionHandler, Carvajal.FEPE.PreSC" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="FlagProduccion" value="1" />
    <add key="Ruta_Directorio_Mapas" value="D:\OneDrive - Corporativo\PECSA\FEPE\ComponentePRESC\Mapas\UBL21" />
    <add key="Ruta_Directorio_Esquemas" value="D:\OneDrive - Corporativo\PECSA\FEPE\ComponentePRESC\Esquemas\UBL21" />

    <add key="Nombre_Mapa_Notas" value="MAPA_ND_STD21.xml" />
    <add key="Nombre_Mapa_Facturas_Boletas" value="MAPA_FACTURA_BOLETA_STD21.xml" />

    <add key="Nombre_Esquema_Notas" value="ESQUEMA_NOTAS_STD_21.xml" />
    <add key="Nombre_Esquema_Facturas_Boletas" value="ESQUEMA_FACTURA_BOLETA21.xml" />

    <add key="Nombre_Mapa_Percepciones" value="MAPA_PERCEPCION_STD10.xml" />
    <add key="Nombre_Esquema_Percepciones" value="ESQUEMA_PERCEPCION_STD10.xml" />

    <add key="Nombre_Mapa_Retenciones" value="MAPA_RETENCION_STD10.xml" />
    <add key="Nombre_Esquema_Retenciones" value="ESQUEMA_RETENCION_STD10.xml" />

    <add key="Ruta_Salida_XML_Firmado" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas" />
    <add key="RutaPecsa" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\PECSA" />
    <add key="RutaPdp" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\PDP" />
    <add key="RutaPes" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\PES" />
    
    <!--Rutas de Primax-->
    <add key="RutaPrimax" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\PRIMAX" />
    <add key="RutaCodesa" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\CODESA" />
    <add key="RutaCoesti" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\COESTI" />
    <add key="RutaNavimax" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\NAVIMAX" />
    <add key="RutaPrimaxGas" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\PRIMAXGAS" />
    <add key="RutaJoveme" value="D:\OneDrive - Corporativo\PECSA\FEPE\Resultado Pruebas\JOVEME" />

    <add key="PlantillaPecsaFA" value="FA3072" />
    <add key="PlantillaPdpFA" value="FA2754" />
    <add key="PlantillaPesFA" value="FA2013" />

    <add key="PlantillaPecsaBO" value="BO3072" />
    <add key="PlantillaPdpBO" value="BO2754" />
    <add key="PlantillaPesBO" value="BO2013" />

    <add key="PlantillaPecsaNC" value="NC3072" />
    <add key="PlantillaPdpNC" value="NC2754" />
    <add key="PlantillaPesNC" value="NC2013" />

    <add key="PlantillaPecsaND" value="ND3072" />
    <add key="PlantillaPdpND" value="ND2754" />
    <add key="PlantillaPesND" value="ND2013" />

    <!--Plantillas PRIMAX-->
    <add key="PlantillaPrimaxFA" value="FA5743" />
    <add key="PlantillaCodesaFA" value="FA4002" />
    <add key="PlantillaCoestiFA" value="FA5279" />
    <add key="PlantillaNavimaxFA" value="FA4409" />
    <add key="PlantillaPrimaxGasFA" value="FA7489" />
    <add key="PlantillaJovemeFA" value="FA7011" />

    <add key="PlantillaPrimaxBO" value="BO5743" />
    <add key="PlantillaCodesaBO" value="BO4002" />
    <add key="PlantillaCoestiBO" value="BO5279" />
    <add key="PlantillaNavimaxBO" value="BO4409" />
    <add key="PlantillaPrimaxGasBO" value="BO7489" />
    <add key="PlantillaJovemeBO" value="BO7011" />

    <add key="PlantillaPrimaxNC" value="NC5743" />
    <add key="PlantillaCodesaNC" value="NC4002" />
    <add key="PlantillaCoestiNC" value="NC5279" />
    <add key="PlantillaNavimaxNC" value="NC4409" />
    <add key="PlantillaPrimaxGasNC" value="NC7489" />
    <add key="PlantillaJovemeNC" value="NC7011" />

    <add key="PlantillaPrimaxND" value="ND5743" />
    <add key="PlantillaCodesaND" value="ND4002" />
    <add key="PlantillaCoestiND" value="ND5279" />
    <add key="PlantillaNavimaxND" value="ND4409" />
    <add key="PlantillaPrimaxGasND" value="ND7489" />
    <add key="PlantillaJovemeND" value="ND7011" />


  </appSettings>

  <Certificados>
    <!--PECSA-->
    <Certificado>
      <Ruc_Emisor>20259033072</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-PECSA\PECSA.pfx</Ruta_Certificado>
      <Password_Certificado>09861805</Password_Certificado>
    </Certificado>
    <!--PES-->
    <Certificado>
      <Ruc_Emisor>20330033313</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-PES\PES.pfx</Ruta_Certificado>
      <Password_Certificado>09861805</Password_Certificado>
    </Certificado>
    <!--PDP-->
    <Certificado>
      <Ruc_Emisor>20100132754</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-PDP\PDP.pfx</Ruta_Certificado>
      <Password_Certificado>09861805</Password_Certificado>
    </Certificado>
    <!--PRIMAX-->
    <Certificado>
      <Ruc_Emisor>20554545743</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-PRIMAX\PRIMAX.pfx</Ruta_Certificado>
      <Password_Certificado>Primax2018</Password_Certificado>
    </Certificado>
    <!--CODESA-->
    <Certificado>
      <Ruc_Emisor>20602544002</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-CODESA\CODESA.pfx</Ruta_Certificado>
      <Password_Certificado>udtmYvgjH8xstMUU</Password_Certificado>
    </Certificado>
    <!--COESTI-->
    <Certificado>
      <Ruc_Emisor>20127765279</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-COESTI\COESTI.pfx</Ruta_Certificado>
      <Password_Certificado>ddeftLVSmmDLJhJb</Password_Certificado>
    </Certificado>
    <!--NAVIMAX-->
    <Certificado>
      <Ruc_Emisor>20600314409</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-NAVIMAX\NAVIMAX.pfx</Ruta_Certificado>
      <Password_Certificado>qDeXtWmq8dAzb8dN</Password_Certificado>
    </Certificado>
    <!--PRIMAXGAS-->
    <Certificado>
      <Ruc_Emisor>20550137489</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-PRIMAXGAS\PRIMAXGAS.pfx</Ruta_Certificado>
      <Password_Certificado>EbciqNLBjfFTbBGA</Password_Certificado>
    </Certificado>
    <!--JOVEME-->
    <Certificado>
      <Ruc_Emisor>20512767011</Ruc_Emisor>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\OneDrive - Corporativo\PECSA\FEPE\Certificado Digital\2018-2020\CD-JOVEME\JOVEME.pfx</Ruta_Certificado>
      <Password_Certificado>Coest!</Password_Certificado>
    </Certificado>
  </Certificados>

</configuration>
